@import '../_utilities/extends'; 
@import '../_utilities/components';
@import '../_utilities/mixins';
@import '../_utilities/breakpoints';
  

.picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    &Background {
        height: 600px;
        width: 400px;
        border-radius: 25px;
        position: relative;
        background-color: var(--backgoundsecondary);
        @include portrait(400px) {
            width: 100%; 
        }
        & img {
            height: 100%;
            width: 100%;
        }
        & > div { 
            @include portrait(1133px) {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #161822d9;  
            }
        }
    }
}


.Splide {
    &Arrows { 
        position: absolute;
        left: 50%;  
        display: flex;
        column-gap: 20px;
        transform: translateX(-50%);
        & button {
            background-color: transparent;
            border: none;
            &:disabled img{
                opacity: .1;
            } 
        }
        @include portrait(744px) {
            bottom: 0;
        }
        @include landscape(850px) {
            bottom: 0; 
            left: 100%;
            & button { 
                &:disabled img{
                    display: none;
                } 
            }
        }
    }
}

.About{
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
    z-index: 10;
    &Detail{
        display: flex;
        flex-direction: column;
        padding: 0 12px; 
        row-gap: 20px;
        @include landscape(850px) {
            row-gap: 8px; 
        }
        & h2 {
            font-size: 58px;
            line-height: 68px;
            @include landscape(850px) {
                font-size: 30px;
                line-height: 40px;
            }
        }
        & p {
            @include landscape(850px) {
                font-size: 15px;
                line-height: 24px;
            }
        }
    }
    &Btns {
        width: 100%;
        height: 70px;
        display: flex;
        column-gap: 20px;
        justify-content: flex-start;
        align-items: center;
        padding: 0 12px;
        & button {
            font-size: 16px;
            padding: 5px;
            background-color: transparent;
            border: none;
            &:hover span, 
            &:has(.active) {
                width: 35px; 
            }
        }
        & span { 
            display: block;
            height: 4px;
            margin-top: 8px;
            width: 0;
            background: var(--primary);
            transition: width 200ms ease-in-out;
        }
    }
    &Aditional {
        width: 100%;
        padding: 0 12px;
        & .detul, & .detul > div {
            display: flex;
            flex-direction: column;
            row-gap: 10px; 
        }
        & .detul {
            @include landscape(850px) {
                flex-direction: row;
                column-gap: 20px;
            }
        }
        & .detli p:first-child {
            color: var(--primary);
        }
        & .detli p { 
            font-size: 16px;
            line-height: 23px;
        }
    }
}

.Philosophy {
    padding: 0 12px;
    @include landscape(850px) { 
        transform: translateY(20%);
    }
    & .accitem {
        margin-bottom: 12px;
    }
    &Htitle { 
        margin-bottom: 12px;
        & h4 {
            @include landscape(850px) { 
                font-size: 25px;
                line-height: 35px;
            }
        }
    }
    &Hcontent {
        opacity: .7;
        padding-left: 20px; 
    }
} 
 
.Works {  
    width: 100%; 
    height: 100%;
    &Prev {
        @extend .slope;
        background-color: #20232f;
        clip-path: polygon(20% 0, 70% 0, 50% 100%, 0% 100%);
        & img {
            @extend .PositionCenter;
            width: 100%; 
            height: 100%;
            object-fit: 100%;
            @include portrait(1133px) {
                object-fit: cover; 
            }
        }
    }
    &Next { 
        @extend .slope;
        clip-path: polygon(70% 0, 100% 0, 80% 100%, 50% 100%);
        & img {
            position: absolute;
            bottom: 0;
            right: 20%;
            object-fit: contain;
            width: 20%;
            @include landscape(850px) { 
                bottom: unset;
                top: 0; 
            }
        }
    }
    & h1 {
        padding: 30px; 
        @extend .container;
    } 
    &Main {
        width: 100%;
        opacity: .85; 
        height: 100%;
    }
    &Thumbnail {
        margin-top: 40px;
        & li {
            border: none !important; 
        }
    }
    &Detail { 
        height: 100%; 
        position: relative;
        @extend .overlay; 
    }
    &Content {  
        padding: 20px;
        height: 100%;
        opacity: .9;  
        @extend .container;
        @include Col(center, flex-start); 
        & p {
            max-width: 70%; 
        }
        @include portrait-md {
            p  {
                font-size: 25px;
                line-height: 35px; 
            }  

        }
        & h3 {
            padding-bottom: 20px;
            z-index: 10px;
            @include landscape(850px) { 
                font-size: 25px;
                line-height: 35px;
                padding-bottom: 5px; 
            }
        }
        & li { 
            font-size: large;
            font-weight: bold;
            padding: 10px 0; 
            @include portrait(705px) {
                padding: 7px 0;
                display: flex; 
                flex-direction: column;
                row-gap: 4px;
            }
            @include landscape(850px) { 
                font-size: 15px;
                line-height: 24px;
                padding: 0;  
            } 
            & span:first-child {
                color: var(--primary);
            } 
        }
        & ul {
            padding: 10px;
            list-style: none;
            max-width: 70%;
            @include portrait(705px) {
                padding: 0; 
                padding-top: 10px;
            }
            
        } 
    }
    &Container {
        width: 100%;
        height: 70%;
        border: 1px solid red;
    }
}

.Refference {
    @extend .container;
    @include Col;  
    & h1 {
        padding: 0;
        margin: 0;
        @include landscape(850px) { 
            font-size: 28px;
        }
    }
    & > div {
        padding: 40px 0;
        @include Row;
        @include portrait(850px) {
            flex-direction: column;
            padding: 15px 0; 
        } 
        @include landscape(850px) { 
            padding: 0;  
        }
    }
    &Msg {
        padding: 40px; 
        text-align: center; 
        height: 100%;
        @include Col; 
        @include portrait(850px) { 
            padding: 40px 15px; 
        }
        @include landscape(850px) {
            padding: 20px 15px;  
        }
        @include portrait(480px) { 
            font-size: 14px;
            line-height: 18px;
        }
        & img {
            position: absolute;
            &:first-child {
                top: 0;
                left: 0;
                @include landscape(850px) { 
                    transform: scale(.5);  
                }
            }
            &:last-child {
                bottom: 0;
                right: 0;
                @include landscape(850px) { 
                    transform: scale(.5);  
                }
            }
        }
    }
    &Detail {
        width: 450px;
        height: 400px;
        -webkit-clip-path: polygon(0% 0%, 65% 0%, 100% 100%, 35% 100%);
        clip-path: polygon(0% 0%, 65% 0%, 100% 100%, 35% 100%);
        background: #A0AEC0 ; 
        @include landscape(850px) {
            width: 100%; 
            height: 100%;
        }
        @include portrait(850px) {
            width: 100%; 
        }
        @include portrait(640px) {
            display: none;
        }
        & img { 
            object-fit: contain;
            width: 100%;
            height: 100%; 
            @include landscape(850px) {
                width: 200%; 
                object-fit: cover; 
                object-position: -35px;
            }
        }
    }
}

.Contact {
    z-index: 30;
    &Detail {
        & h1 {
            @include landscape(850px) {
                font-size: 30px; 
            }
        }
        & p {
            max-width: 70%;
            margin: 12px 0;
            @include landscape(850px) {
                margin: 0; 
            }
        }
        & ul {
            margin: 20px 0;
            list-style: none;
            @include portrait(744px) {
                margin: 10px 0; 
            }
            & li {
                margin: 12px 0;
                @include portrait(744px) {
                    margin: 8px 0; 
                }
            }
        }
        & button {
            @extend .PrimaryButton;  
            @include breakpoint(850px) {
                margin-top: 0;
                height: 35px;
                width: 180px;
            }
        }
        
    }
    &Form { 
        z-index: 40;
        margin-top: 60px;
        & div {
            color: var(--error); 
        }
        & form {
            @include Col(center, flex-start); 
        }
        & input {
            height: 43px;
            width: 500px;
            background-color: #A0AEC0;
            border-radius: 4px;
            border: none;
            padding: 5px 12px;
            margin: 12px 0;
            @include portrait(744px) {
                width: 100%;
                margin: 5px 0;
                height: 35px;
                padding: 4px 12px; 
            }
            @include landscape(850px) {
                width: 250px; 
                height: 30px; 
                padding: 4px 12px; 
                margin: 8px 0; 
            }
        }
        & textarea {
            height: 220px;
            width: 500px;
            background-color: #A0AEC0;
            border-radius: 4px;
            border: none;
            padding: 12px;
            margin: 12px 0;
            @include portrait(744px) {
                width: 100%;
                margin: 5px 0;
                height: 120px; 
                padding: 4px 12px;
            }
            @include landscape(850px) {
                width: 250px; 
                height: 110px; 
                margin: 8px 0;
            }
        }
        & button { 
            @extend .PrimaryButton;
            margin-left: 300px;  
            @include breakpoint(850px) {
                margin-left: 0;  
                margin-top: 8px;
                height: 35px;
                width: 180px;
            }
        }
    }
}