@use '../../abstract/breakpoints' as bp;


.picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    &Background {
        height: 600px;
        width: 400px;
        border-radius: 25px;
        position: relative;
        background-color: var(--backgoundsecondary);
        @include bp.portrait(400px) {
            width: 100%; 
        }
        & img {
            height: 100%;
            width: 100%;
        }
        & > div { 
            @include bp.portrait(1133px) {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #161822d9;  
            }
        }
    }
}