.background {
    background: linear-gradient(#e66465, #9198e5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  
  .scrollText {
    font-size: 1.5rem;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    height: 10rem;
    width: 25%;
    text-align: center;
    border-radius: 10px;
  }
  
  .parallax {
    margin-right: 15%;
  }
  
  .sticky {
    margin-left: 15%;
    background-color: #ff6d6d;
  }
  
  .blue {
    background-color: #5b65ad;
    color: white;
  }
  
  .purple {
    background-color: #9d65d0;
  }
 
  .container > div > div {
    display: flex;
    align-items: center;
    justify-content: center; 
  }
    
  .slopeBegin {
    background-color: #20232f;
    clip-path: polygon(20% 0, 70% 0, 50% 100%, 0% 100%);
  }
  
  .slopeEnd {
    clip-path: polygon(70% 0, 100% 0, 80% 100%, 50% 100%);
  }
  
  .slopeBegin,
  .slopeEnd {
    position: absolute;
    width: 170%;
    height: 100%;
    cursor: pointer;
  }
  
  .patriot {
    background: linear-gradient(to right, #183771 0%, #183771 100%);
  }
  
  .primitive {
    background: linear-gradient(to right, #9B2D24  0%, #9B2D24 100%);
  }
  
  .nath {
    background: linear-gradient(to right, var(--primary) 0%, var(--primary) 100%);
  }
  

  
  @media (max-width: 750px) {
    .card {
      width: 40%;
    }
  
    .parallax {
      margin-right: 1.5rem;
    }
  
    .sticky {
      margin-left: 1.5rem;
    }
  }
  